@import '../../../../../vars';

.color-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin-top: 10px;

    input {
        width: 60px;
        padding-left: 15px;        
    }

    &::after {
        opacity: .5;
        position: absolute;
        content: "#";
        transform: translateX(-30px);
    }
}